<div>
<div class="page-container">
  <div class="page-title">
    <h1>Kanban Boards</h1>
  </div>
  <div>
    <button mat-raised-button (click)="openDialogForNewKanban()">+ Create Kanban</button>
  </div>

  <div class="main-card">
    <mat-nav-list>
      <a mat-list-item *ngFor="let kanban of kanbanList">
        <div class="kanban_items"  routerLink="/kanbans/{{kanban.id}}">
        <span class="kanban-title">{{kanban.title}}</span>
        <span class="kanban-date">{{kanban.kanbanDate  |  date:'MM/dd/yyyy'}}</span>
        </div>
        <div>
          <button mat-raised-button (click)="deleteKanbanBoard(kanban.id)">Delete</button>
        </div>
      </a>
    </mat-nav-list>
  </div>
</div>

